.record-form {
    padding: 2.5rem 0.9375rem 6.25rem 0.9375rem;
}

.loading-effect {
    will-change: opacity;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
    opacity: .4;
    pointer-events: none;
}
