.city-info {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    font-size: 14px;
}

.link {
    color: #1b75cc;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    line-height: 1.2;
    -webkit-transition: border-color .15s ease-out;
    transition: border-color .15s ease-out;
    border-bottom: 1px solid;
    border-color: transparent;
}

.link:hover,
.link:active {
    color: #db001b;
    outline: none;
}
